body, div, h1, h2, h3, h4, h5, h5, p, ul, ol, li, dl, dt, dd { margin: 0; padding: 0;}
ul, ol { list-style-type: none;}

body { font: 16px "Microsoft Yahei",Arial,Helvetica,sans-serif; color: #515151;}
li>a { color: #a9a9a9; text-decoration: none;}
li>a:hover { color: #e31d1a;}

.clearfix:before, .clearfix:after{ content: “”; display: table; }
.clearfix:after{ clear: both; }

.center-wrap { position: relative; z-index: 1; width: 100%; margin: 0 auto;}
.desc { position: relative; z-index: 1;}

.section { overflow: hidden;}
.section h1 { margin-bottom: 20px; line-height: 1.4; font-size: 40px; font-weight: 400;}
.section p { line-height: 25px;}

.home {
  background:  url(../images/home.jpg) 50% no-repeat;
}
.figenr{
  background:  url(../images/finger.jpg) 50% 0 no-repeat;
}
.laugh{
  background:  url(../images/laugh.jpg) 50% 0 no-repeat;
}
.shoes{
  background:  url(../images/shoes.jpg) 50% 0 no-repeat;
}
.survive{
  background:  url(../images/survive.jpg) 50% 0 no-repeat;
}
.gm-nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.gm-logo { float: right; width: 156px; height: 42px; margin-right: 100px; font-size: 0; background-image: url(../images/logo.png);}
.nav{
  margin-left: 70px;
}
.nav li{
  float: left;
  position: relative;
}
.nav li a{
  float: left;
  padding:11px 30px;
  color:#999;
  font: bold 12px;
  text-shadow:0 1px 0 #000;
}
.nav li a:hover{
  color:#fafafa;
  border-bottom:2px solid #4cb803;
}
.nav li ul{
  visibility: hidden;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 1;
  padding: 0;
  background-color: #444;
  background-image: linear-gradient(#444,#111);
  border-radius: 3px;
  opacity: 0;
  margin: 40px 0 0 0;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .5s ease-in-out;
}
.nav li:hover > ul{
  opacity: 1;
  visibility: visible;
  margin: 0;
}
.nav ul li{
  float: none;
  display: block;
  border: 0;
  box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}
.nav ul a{
  padding: 21px 0px 21px 20px;
  width: 80px;
  display: block;
  float: none;
}
.nav ul a:hover{
  background-color: #0186ba;
  background-image: linear-gradient(#04acec, #0186ba);
  padding-bottom:19px;
}
.nav ul li:first-child > a{
  border-radius: 3px 3px 0 0;
}
.nav ul li:last-child > a{
  border-radius:0 0 3px 3px;
}
.nav ul li:first-child > a:before{
  /*伪类 a:before 代替 实体标签span 做了个箭头*/
  content:"";
  position: absolute;
  left:30px;
  top:-6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #444;
}
.nav ul li:first-child > a:hover:before{
  border-bottom-color: #04acec;
}
.nav ul ul{
  top: 0;
  left: 96px;
  margin: 0 0 0 20px;
  box-shadow: -1px 0 0 rgba(255,255,255,.3);
}
.nav ul ul li:first-child a:before{
  left:-6px;
  top:50%;
  margin-top: -3px;
  border-left: 0;
  border-bottom: 6px solid transparent;
  border-top:6px solid transparent;
  border-right:6px solid #3b3b3b;
}
.nav ul ul li:first-child a:hover:before{
  border-right-color:#0299de;
  border-bottom-color:transparent;
}
